- name: set variable
  set_fact:
    consul_token: "master"
  tags:
    - example-upload
    - test

- name: Presto healthchecks pass
  uri:
    url: http://localhost:8500/v1/health/checks/presto?filter={{ '(Status=="passing")' | urlencode }}
    method: GET
    return_content: yes
    status_code: 200
    body_format: json
  when: not lookup('env', 'consul_acl') | bool
  register: result_presto
  retries: 15
  delay: 15
  until: result_presto.json | length == 2
  tags: test

- name: Presto healthchecks pass with token
  uri:
    url: http://localhost:8500/v1/health/checks/presto?filter={{ '(Status=="passing")' | urlencode }}
    method: GET
    headers:
      X-Consul-Token: "{{ consul_token }}"
    return_content: yes
    status_code: 200
    body_format: json
  when: lookup('env', 'consul_acl') | bool and lookup('env', 'consul_acl_default_policy') == 'deny'
  register: result_presto
  retries: 15
  delay: 15
  until: result_presto.json | length == 2
  tags: test

- name: Start local proxy on port 8888 to presto service
  shell: nohup consul connect proxy -service presto-local -upstream presto:8888 -log-level debug </dev/null >/tmp/presto-proxy.log 2>&1 &
  register: test_output
  when: not lookup('env', 'consul_acl') | bool or (lookup('env', 'consul_acl') | bool and lookup('env', 'consul_acl_default_policy') == 'allow')
  tags:
    - example-upload
    - test

- name: Start local proxy on port 8888 to presto service with token
  shell: nohup consul connect proxy -service presto-local -upstream presto:8888 -log-level debug </dev/null >/tmp/presto-proxy.log 2>&1 &
  register: test_output
  when: lookup('env', 'consul_acl') | bool and lookup('env', 'consul_acl_default_policy') == 'deny'
  environment:
    CONSUL_HTTP_TOKEN: "{{ consul_token }}"
  tags:
    - example-upload
    - test

# To quickly verify that proxy available (without any credentials)
- name: Presto curl example. Verify that proxy to presto available
  uri:
    url: http://127.0.0.1:8888/v1/status
    status_code: 200
  register: curl_output
  until: curl_output.status == 200
  retries: 10
  delay: 5
  tags:
    - example-upload
    - test

- name: Debug curl_output
  debug:
    msg: "{{curl_output}}"
  tags:
    - example-upload
    - test

- name: Create CSV table
  shell: docker run --network host -v "/vagrant/example/resources/query/csv_create_table.sql:/csv_create_table.sql" prestosql/presto:341 presto --http-proxy 127.0.0.1:8888 --server 127.0.0.1:8888 --catalog hive --schema default --user presto --file /csv_create_table.sql
  register: docker_output_cmd_csv
  retries: 10
  delay: 2
  until: docker_output_cmd_csv.stderr.find("CREATE TABLE") != -1
  tags:
    - example-upload
    - test
  # TODO: This error must be tracked down: Error running command: java.io.IOException: unexpected end of stream on Connection{127.0.0.1:8888, proxy=HTTP @ 127.0.0.1:8888 hostAddress=/127.0.0.1:8888 cipherSuite=none protocol=http/1.1}

- name: Create JSON table
  shell: docker run --network host -v "/vagrant/example/resources/query/json_create_table.sql:/json_create_table.sql" prestosql/presto:341 presto --http-proxy 127.0.0.1:8888 --server 127.0.0.1:8888 --catalog hive --schema default --user presto --file /json_create_table.sql
  register: docker_output_cmd_json
  retries: 10
  delay: 2
  until: docker_output_cmd_json.stderr.find("CREATE TABLE") != -1
  tags:
    - example-upload
    - test

- name: Create AVRO table
  shell: docker run --network host -v "/vagrant/example/resources/query/avro_tweets_create_table.sql:/avro_tweets_create_table.sql" prestosql/presto:341 presto --http-proxy 127.0.0.1:8888 --server 127.0.0.1:8888 --catalog hive --schema default --user presto --file /avro_tweets_create_table.sql
  register: docker_output_cmd_avro
  retries: 10
  delay: 2
  until: docker_output_cmd_avro.stderr.find("CREATE TABLE") != -1
  tags:
    - example-upload
    - test

- name: Verify CSV table - available 150 records
  shell: docker run --network host prestosql/presto:341 presto --http-proxy 127.0.0.1:8888 --server 127.0.0.1:8888 --catalog hive --schema default --user presto --execute "SELECT COUNT(*) FROM iris;"
  register: query_csv_result
  until: query_csv_result.stdout == "\"150\""
  tags:
    - example-upload
    - test

- name: Verify JSON table - available 2 records
  shell: docker run --network host prestosql/presto:341 presto --http-proxy 127.0.0.1:8888 --server 127.0.0.1:8888 --catalog hive --schema default --user presto --execute "SELECT COUNT(*) FROM somejson;"
  register: query_json_result
  until: query_json_result.stdout == "\"2\""
  tags:
    - example-upload
    - test

- name: Verify AVRO table - available 2 records
  shell: docker run --network host prestosql/presto:341 presto --http-proxy 127.0.0.1:8888 --server 127.0.0.1:8888 --catalog hive --schema default --user presto --execute "SELECT COUNT(*) FROM tweets;"
  register: query_avro_result
  until: query_avro_result.stdout == "\"2\""
  tags:
    - example-upload
    - test
